@import "tailwindcss";

@theme {
  --color-primary: oklch(44.8% 0.119 151.328);
  /* --color-text: oklch(92.8% 0.006 264.531); */
  --color-secondary: oklch(92.8% 0.006 264.531);
  --color-text: oklch(20% 0.005 264.531);
  --color-royal: #0057b7;
}

html,
body {
  height: 100%;
}
